.patient-recipe-container {
    width: 100%;
    background-color: lightyellow;
}
/*------------------------------------------    patient-recipe-component-filter   ------------------------------------*/
.patient-recipe-component-filter {
    margin-bottom: 15px;
}
/*-----------------------------------------    patient-recipe-component-maping  --------------------------------------*/
.patient-recipe-component-maping {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.patient-recipe-component-maping-information {
    color: red;
}
/*----------------------------------    patient-recipe-component-pagination   ----------------------------------------*/
.patient-recipe-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
/*---------------------------------------    patient-recipe-skeleton-container   ------------------------------------------------*/
.patient-recipe-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.patient-recipe-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.patient-recipe-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.patient-recipe-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.patient-recipe-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.patient-recipe-skeleton-line.short {
    width: 30%;
}

.patient-recipe-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}