.sick-leaves-profile-link{
    width: 100%;
    height: 100px;
    font: inherit;
    color: inherit;
    text-decoration: none;
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}
.sick-leaves-profile-link:hover{
    background-color: green;
}
.sick-leaves-profile-link-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sick-leaves-profile-link-container-items{
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}