.patient-journal-component {
     width: 100%;
    background-color: lightyellow;
}
/*------------------------------------    patient-journal-component-filter   -----------------------------------------*/
.patient-journal-component-filter {
    margin-bottom: 15px;
}
/*-------------------------------------    patient-journal-component-maping   ----------------------------------------*/
.patient-journal-component-maping {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.patient-journal-component-maping-information {
    color: red;
}
/*--------------------------------------    patient-journal-component-pagination   -----------------------------------*/
.patient-journal-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
/*-------------------------------------    patient-journal-skeleton-container   --------------------------------------*/
.patient-journal-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.patient-journal-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.patient-journal-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.patient-journal-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.patient-journal-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.patient-journal-skeleton-line.short {
    width: 30%;
}

.patient-journal-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}