.login-container {
    width: 100%;
    padding: 15px 0 15px 0;

}
/*-----------------------------------------------------    form-login-div   -----------------------------------------------*/
.login-form-div {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-login {
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    background-color: gray;
}
.form-login-error {
    color: red;
}
.form-message {
    color: red;
}
/*------------------------------------------    login-form-input    ---------------------------------------------------*/
.form-login input {
    width: 350px;
    height: 30px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
}
.login-form input:focus {
  border-color: #007bff;
}
.login-form input::placeholder {
    color: #999;
    font-style: italic;
    opacity: 1;
}
.login-password {
    width: 450px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}
.show-password-login {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px
}
/*----------------------------------------   form-login-button   -----------------------------------------------------*/
.form-login-button-div {
    width: 450px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-login-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1F74C2;
    color: white;
    cursor: pointer;
}
.form-login-button:hover {
    background-color: #4CAF50;
}
.login-icon-page{
    width: 25px;
    height: 25px;
}
/*--------------------------------------    form-login-links-div   ------------------------------------------------------*/
.form-login-links-div {
    width: 450px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-login-links {
    color: black;
}
.form-login-links:hover {
    color: red;
}
