@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.booking-doctor-component {
    width: 100%;
    background-color: lightyellow;
}
/*--------------------------------     booking-doctor-component-header   ---------------------------------------------*/
.booking-doctor-component-header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    background-color: lightyellow;
    border-bottom: 2px solid lightskyblue;
}
.logo-booking-doctor-component-header {
    width: 200px;
    height: 120px;
    margin-right: 50px;
}
.booking-doctor-component-header h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
.booking-doctor-component-button-header {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.booking-doctor-component-button-header:hover {
    background-color: green;
}
/*-----------------------------------    booking-doctor-component-filter   -------------------------------------------*/
.booking-doctor-component-filter {
    margin: 15px 0 15px 0;
}
/*--------------------------------------   booking-doctor-component-maping    ----------------------------------------*/
.booking-doctor-component-maping {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.booking-doctor-component-maping-information {
    color: red;
}
/*---------------------------------------   booking-doctor-component-pagination   ------------------------------------*/
.booking-doctor-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;
}
/*------------------------------------    bookings-doctors-skeleton-container   --------------------------------------*/
.bookings-doctors-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.booking-doctor-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.booking-doctor-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.booking-doctor-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.booking-doctor-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.booking-doctor-skeleton-line.short {
    width: 30%;
}

.booking-doctor-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}