.doctor-filter-component {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 25px 0 25px 0;
    border-radius: 10px;
    background-color: gray;
}
.doctor-filter-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}
.doctor-filter-component input {
    width: 250px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
}
.doctor-filter-component input:focus {
    border-color: #007bff;
}
.doctor-filter-component input::placeholder {
    color: #999;
    font-style: italic;
    opacity: 1;
}
.doctor-filter-component select {
    width: 250px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
    color: #999;
    font-style: italic;
    opacity: 1;
}

.doctor-filter-component-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1F74C2;
    color: white;
    cursor: pointer;
}
.doctor-filter-component-button:hover {
    background-color: #4CAF50;
}
.doctor-filter-icon{
    width: 25px;
    height: 25px;
}
.doctor-filter-field-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}