.booking-actions-component {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.booking-actions-component-error {
    color: red;
}
.booking-actions-component-button-canceled {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: white;
    cursor: pointer;
}
.booking-actions-component-button-delete {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
.booking-actions-component-button-delete-confirmation{
    width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.booking-actions-component-button-delete-delete-confirmation-error{
    color: red;
}
.booking-actions-component-button-delete-confirmation-button-delete{
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
.booking-actions-component-button-delete-confirmation-button-cancel{
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}
.booking-actions-component-button-canceled-confirmation{
    width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.booking-actions-component-button-canceled-confirmation-error{
    color: red;
}
.booking-actions-component-button-canceled-confirmation-button-cancel-yes{
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
.booking-actions-component-button-canceled-confirmation-button-cancel-no{
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}
.booking-doctor-delete-icon{
    width: 25px;
    height: 25px;
}