.create-new-patient-recipe {
    width: 100%;
    margin: 15px 0 15px 0;
}
/*----------------------------------------     create-recipe-form   --------------------------------------------------*/
.create-recipe-form {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    gap: 25px;
}
/*----------------------------------------    create-recipe-form-recipe   --------------------------------------------*/
.create-recipe-form-recipe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.create-recipe-form-recipe input {
    width: 750px;
    height: 60px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease
}
/*---------------------------------------    create-recipe-form-description   ----------------------------------------*/
.create-recipe-form-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.create-recipe-form-description textarea {
    width: 750px;
    height: 170px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease
}
.create-recipe-form-button-recipe {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1F74C2;
    color: white;
    cursor: pointer;
}
.create-recipe-form-button-recipe:hover {
    background-color: #4CAF50;
}
.create-recipe-icon{
    width: 25px;
    height: 25px;
}
.create-recipe-form-recipe label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}
.create-recipe-form-description label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}