@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.security-container {
    width: 100%;
    background-color: lightyellow;
}
/*--------------------------------------      security-container-header   --------------------------------------------*/
.security-container-header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    background-color: lightyellow;
    border-bottom: 2px solid lightskyblue;
}
.logo-security-component {
    width: 200px;
    height: 120px;
    margin-right: 50px;
}
.security-container-header h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
.security-component-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.security-component-button:hover {
    background-color: green;
}
/*--------------------------------------------    security-container-filter   ----------------------------------------*/
.security-container-filter {
    margin: 15px 0 15px 0;
}
/*------------------------------------------    security-container-delete  -------------------------------------------*/
.security-container-delete {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px 0;
    margin: 15px 0 15px 0;
    border-radius: 10px;
    background-color: gray;
}
.security-container-button-delete {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
/*------------------------------------------   security-container-maping  --------------------------------------------*/
.security-container-maping {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.security-container-maping-information {
    color: red;
}
/*-------------------------------------------   security-container-pagination  ---------------------------------------*/
.security-container-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;
}
/*-------------------------------------     loading-security   -------------------------------------------------------*/
.loading-security {
    width: 100%;
    height: 695px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
}
.loading-security-text {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}