.loading-weather{
    color: lightskyblue;
}
.weather-container{
    width: 230px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E6F4FF;
    border-radius: 10px;
    margin-top: 7px;
}
.weather-icon-div{
    width: 230px;
    height: 45px;
}
.weather-icon{
    width: 45px;
    height: 45px;
}
.weather-information-div{
    width: 230px;
    height: 95px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}
.weather-information-div span{
    padding-left: 10px;
    color: #333333
}