.booking-doctor-profile-link {
    width: 100%;
    height: 100px;
    font: inherit;
    color: inherit;
    text-decoration: none;
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}
.booking-doctor-profile-link:hover {
    background-color: green;
}
.booking-doctor-profile-link-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking-doctor-profile-link-container-items{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.booking-doctor-profile-link-container-items-id{
    width: 40px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-doctor-profile-link-container-items h4{
    color: #444;
}
.booking-doctor-profile-link-container-items h2{
    color: #222;
}