@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.registration-form-container {
    width: 100%;
    background-color: lightyellow;
}
/*------------------------------------   registration-container-header  ---------------------------------------------*/
.registration-container-header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    background-color: lightyellow;
    border-bottom: 2px solid lightskyblue;
}
.logo-register {
    width: 200px;
    height: 120px;
    margin-right: 50px;
}
.registration-container-header h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
/*---------------------------------------   register-form-div   -----------------------------------------------------*/
.register-form-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.register-successful {
    color: green;
}
.register-error {
    color: red;
}
.register-form {
    width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 25px 0 25px 0;
    border-radius: 10px;
    background-color: gray;
}
/*-----------------------------------------------    register-form input   -------------------------------------------*/
.register-form input {
    width: 350px;
    height: 30px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
}
.register-form input:focus {
    border-color: #007bff;
}
.register-form input::placeholder {
    color: #999;
    font-style: italic;
    opacity: 1;
}
.register-password {
    width: 450px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}
.show-password-register {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px
}
/*------------------------------------------     register-form select  -----------------------------------------------*/
.register-form select {
    width: 350px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
    color: #999;
    font-style: italic;
    opacity: 1;
}
.register-form input:focus {
    border-color: #007bff;
}
.register-form select option {
    color: #999;
    font-style: italic;
    opacity: 1;
}
/*---------------------------------------------    form-register-button-div   ----------------------------------------*/
.form-register-button-div {
    width: 450px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-register-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.form-register-button:hover {
    background-color: green;
}