.patients-card-component {
    width: 100%;
}
/*-------------------------------------------     patient-card-filter     --------------------------------------------*/
.patient-card-filter {
    margin-bottom: 15px;
}
/*--------------------------------------------    patient-card-maping   ----------------------------------------------*/
.patient-card-maping {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: visible;
}
.patient-card-information {
    color: red;
}
/*-------------------------------------------    patient-card-pagination    ------------------------------------------*/
.patient-card-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
/*----------------------------------------------    patients-skeleton-container   ------------------------------------*/
.patients-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.patient-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.patient-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.patient-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.patient-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.patient-skeleton-line.short {
    width: 30%;
}

.patient-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}