.diagnostics-profile-component {
    width: 100%;
    height: 100px;
    font: inherit;
    color: inherit;
    text-decoration: none;
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}
.diagnostics-profile-component:hover{
    background-color: green;
}
.diagnostics-profile-component-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.diagnostics-profile-component-items{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}