.roles-component-container {
    width: 100%;
    background-color: lightyellow;
}

/*-------------------------------------------    roles-component-filter   --------------------------------------------*/
.roles-component-filter {
    margin-bottom: 15px;
}
/*---------------------------------------   roles-component-maping  --------------------------------------------------*/
.roles-component-maping {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.role-component-container-information {
    color: red;
}
/*-----------------------------------------    roles-component-pagination  -------------------------------------------*/
.roles-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*----------------------------------------------    role-skeleton-container   --------------------------------------------------*/
.role-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.role-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.role-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.role-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.role-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.role-skeleton-line.short {
    width: 30%;
}

.role-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}