@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.roles-component-container {
    width: 100%;
    background-color: lightyellow;
}
/*--------------------------------------    role-component-container-header  -----------------------------------------*/
.role-component-container-header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    background-color: lightyellow;
    border-bottom: 2px solid lightskyblue;
}
.logo-role-component-container {
    width: 200px;
    height: 120px;
    margin-right: 50px;
}
.role-component-container-header h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
.role-component-container-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.role-component-container-button:hover {
    background-color: green;
}
/*-------------------------------------------    roles-component-filter   --------------------------------------------*/
.roles-component-filter {
    margin: 15px 0 15px 0;
}
/*---------------------------------------   roles-component-maping  --------------------------------------------------*/
.roles-component-maping {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.role-component-container-information {
    color: red;
}
/*-----------------------------------------    roles-component-pagination  -------------------------------------------*/
.roles-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;
}