@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.roles-component-container {
    width: 100%;
    background-color: lightyellow;
}
/*--------------------------------------    role-component-container-header  -----------------------------------------*/
.role-component-container-header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    background-color: lightyellow;
    border-bottom: 2px solid lightskyblue;
}
.logo-role-component-container {
    width: 200px;
    height: 120px;
    margin-right: 50px;
}
.role-component-container-header h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
.role-component-container-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.role-component-container-button:hover {
    background-color: green;
}
/*-------------------------------------------    roles-component-filter   --------------------------------------------*/
.roles-component-filter {
    margin: 15px 0 15px 0;
}
/*---------------------------------------   roles-component-maping  --------------------------------------------------*/
.roles-component-maping {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.role-component-container-information {
    color: red;
}
/*-----------------------------------------    roles-component-pagination  -------------------------------------------*/
.roles-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;
}
/*----------------------------------------------    role-skeleton-container   --------------------------------------------------*/
.role-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.role-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.role-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.role-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.role-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.role-skeleton-line.short {
    width: 30%;
}

.role-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}