.security-profile-component {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}
.security-profile-component:hover {
    background-color: green;
}
.security-profile-items{
    width: 230px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.security-profile-items h5{
    color: #444;
}
.security-profile-items h3{
    color: #222;
}