.security-profile-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid gray;
    margin-bottom: 10px;
    cursor: pointer;
}