.diagnostics-component {
    width: 100%;
}
/*--------------------------------------------   diagnostics-component-filter   --------------------------------------*/
.diagnostics-component-filter {
    margin-bottom: 15px;
}
/*-----------------------------------------    diagnostics-component-maping   ----------------------------------------*/
.diagnostics-component-maping {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: visible;
}
.diagnostics-component-information {
    color: red;
}
/*-----------------------------------------   diagnostics-component-pagination   -------------------------------------*/
.diagnostics-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
/*----------------------------------    diagnostics-list-skeleton-container    ---------------------------------------*/
.diagnostics-list-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.diagnostic-list-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.diagnostic-list-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.diagnostic-list-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.diagnostic-list-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.diagnostic-list-skeleton-line.short {
    width: 30%;
}

.diagnostic-list-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}