.pagination-component {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.pagination-component-pagination{
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination-button,
.pagination-page {
    padding: 6px 10px;
    border-radius: 50%;
    border: none;
    background: limegreen;
    color: white;
    cursor: pointer;
}

.pagination-page.active {
    background: darkgreen;
}

.pagination-ellipsis {
    padding: 0 6px;
    font-size: 18px;
}
.select-size-page{
    width: 150px;
    height: 45px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
    color: grey;
    font-style: italic;
    opacity: 1;
}
