@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.header-component-page {
    width: 100%;
    background-color: lightyellow;
}
/*----------------------------------------    header-component-header   ----------------------------------------------*/
.header-component-header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    background-color: lightyellow;
    border-bottom: 2px solid lightskyblue;
}
.logo-header-page {
    width: 200px;
    height: 120px;
    margin-right: 50px;
}
.header-component-header h1{
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
.login-button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: blue;

}
.login-button:hover {
     background-color: green;
}
.login-link {
    text-decoration: none;
    color: white;
}
.header-back{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
.header-back:hover{
    background-color: green;
}