.book-doctor-component {
    width: 900px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    margin: 15px 0 15px 0;
    background-color: gray;
}

.book-doctor-component-error {
    color: red;
}

.book-doctor-component-handle input {
    width: 350px;
    height: 30px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
}

.book-doctor-component button {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.book-doctor-component button:hover {
    color: green;
}