.diagnostics-filter-div{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diagnostics-filter-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}
.diagnostics-component-filter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 25px 0 25px 0;
    border-radius: 10px;
    background-color: gray;
}
.diagnostics-component-filter input {
    width: 250px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
}
.diagnostics-component-filter input:focus{
    border-color: #007bff;
}
.diagnostics-component-filter input::placeholder {
    color: #999;
    font-style: italic;
    opacity: 1;
}
.diagnostics-component-filter select{
    width: 250px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
    color: #999;
    font-style: italic;
    opacity: 1;
}

.diagnostics-component-filter-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1F74C2;
    color: white;
    cursor: pointer;
}
.diagnostics-component-filter-button:hover {
     background-color: #4CAF50;
}
.diagnostics-filter-icon{
    width: 25px;
    height: 25px;
}
.diagnostics-filter-field-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}