@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.operator-page {
    width: 100%;
    margin: 0 auto;
    min-height: 600px;
    display: flex;
}
.operator-page-information {
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.operator-page-information h3 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.clinic-photo-operator-page{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clinic-photo-operator{
    width: 90%;
    height: 350px;
    border-radius: 15px;
}