.footer-component {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightyellow;
    border-top: 2px solid lightskyblue;
}
.footer-img {
    width: 230px;
    height: 150px;
}
.footer-dev-information {
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-contact {
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swagger {
    color: green;
}