.diagnostics-list-component {
    width: 100%;
    background-color: lightyellow;
}
/*----------------------------------     diagnostics-list-component-link   -------------------------------------------*/
.diagnostics-list-component-link {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-create-new-diagnostic-list-component {
    color: red;
}
/*----------------------------------------------    diagnostics-list-component-filter   ------------------------------*/
.diagnostics-list-component-filter {
    margin: 15px 0 15px 0;
}
/*----------------------------------------   diagnostics-list-component-maping   -------------------------------------*/
.diagnostics-list-component-maping {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.diagnostics-list-component-information {
    color: red;
}
/*---------------------------------------    diagnostics-list-component-pagination   ---------------------------------*/
.diagnostics-list-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 15px 0;
}
/*-----------------------------------------   diagnostics-skeleton-container   ---------------------------------------*/
.diagnostics-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.diagnostic-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.diagnostic-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.diagnostic-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.diagnostic-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.diagnostic-skeleton-line.short {
    width: 30%;
}

.diagnostic-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}