.sick-leaves-form-filter{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0 25px 0;
    border-radius: 10px;
    background-color: gray;
}
.sick-leave-filter-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 200px;
}
.sick-leaves-form-filter input{
    width: 200px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
}
.sick-leaves-form-filter input:focus{
    border-color: #007bff;
}
.sick-leaves-form-filter input::placeholder{
    color: #999;
    font-style: italic;
    opacity: 1;
}
.sick-leaves-form-filter select{
    width: 200px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
    color: #999;
    font-style: italic;
    opacity: 1;
}
.sick-leaves-form-filter select:focus{
     border-color: #007bff;
}
.sick-leaves-form-filter select::placeholder{
    color: #999;
    font-style: italic;
    opacity: 1;
}
.sick-leaves-form-button{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.sick-leaves-form-button:hover{
    background-color: green;
}