.booking-doctor-details-component {
    width: 100%;
    background-color: lightyellow;
}
/*-----------------------------------------------------   booking-doctor-details-component-profile   -----------------*/
.booking-doctor-details-component-profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0 15px 0;
    gap: 25px;
}
/*-------------------------------------------------   booking-doctor-details-component-actions  ----------------------*/
.booking-doctor-details-component-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
/*-------------------------------------------    booking-doctor-profile-skeleton   -----------------------------------*/
.booking-doctor-profile-skeleton {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    animation: pulse 1.2s infinite;
}

.booking-doctor-profile-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.booking-doctor-profile-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.booking-doctor-profile-skeleton-line.short {
    width: 30%;
}

.booking-doctor-profile-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}