@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.doctors-details-component {
    width: 100%;
    background-color: lightyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px
}
/*-------------------------------------------    doctors-details-component-header    ---------------------------------*/
.doctors-details-component-header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    background-color: lightyellow;
    border-bottom: 2px solid lightskyblue;
}
.logo-doctors-details-component {
    width: 200px;
    height: 120px;
    margin-right: 50px;
}
.doctors-details-component-header h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
.doctors-details-component-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.doctors-details-component-button:hover {
    background-color: green;
}
/*-------------------------------------------    doctors-details-component-content    --------------------------------*/
.doctors-details-component-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0 15px 0;
    gap: 25px;
    border-bottom: 2px solid grey;
    padding-bottom: 15px;
}
/*-------------------------------------------    doctors-details-component-book-doctor-component   -------------------*/
.doctors-details-component-book-doctor-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0 15px 0;
}
/*------------------------------------------    loading-doctors-details  ---------------------------------------------*/
.loading-doctors-details {
    width: 100%;
    height: 695px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
}
.loading-doctor-details-text {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}