.patient-journal-profile {
    width: 100%;
    height: 100px;
    font: inherit;
    color: inherit;
    text-decoration: none;
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}
.patient-journal-profile:hover {
    background-color: green;
}
.patient-journal-profile-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.patient-journal-profile-container-items{
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.patient-journal-profile-container-items h4{
    color: #444;
}
.patient-journal-profile-container-items h2{
    color: #222;
}