.create-journal-form {
    width: 100%;
    padding: 15px 0 15px 0;
}
/*--------------------------------------------    create-journal-form  -----------------------------------------------*/
.create-journal-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    gap: 25px;
}
/*------------------------------------------    create-journal-form-diagnosis   --------------------------------------*/
.create-journal-form-diagnosis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.create-journal-form-diagnosis input {
    width: 750px;
    height: 60px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease
}
/*---------------------------------------   create-journal-form-description   ----------------------------------------*/
.create-journal-form-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.create-journal-form-description textarea {
    width: 750px;
    height: 120px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease
}
/*----------------------------------------   create-journal-form-planning  -------------------------------------------*/
.create-journal-form-planning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.create-journal-form-planning textarea {
    width: 750px;
    height: 120px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease
}
.create-journal-form-button-create {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1F74C2;
    color: white;
    cursor: pointer;
}
.create-journal-form-button-create:hover {
    background-color: #4CAF50;
}
.create-journal-save-icon{
    width: 25px;
    height: 25px;
}
.create-journal-form-diagnosis label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}
.create-journal-form-description label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}
.create-journal-form-planning label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}