.navigation-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.navigation-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-nav li {
    margin: 0;
    padding: 0;
}

.navigation-nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.navigation-nav a:hover {
    color: blue;
}

.navigation-nav div button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.navigation-nav div button:hover {
    background-color: green;
}
.nav-separator {
    margin: 0 8px;
    color: #888;
}