@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.navigation-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #ffffe0;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid lightskyblue;
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navigation-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-nav li {
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.nav-link:hover {
    color: #1F74C2;
}

.nav-link.active {
    color: #4CAF50;
}

.navigation-nav div button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1F74C2;
    color: white;
    cursor: pointer;
}

.navigation-nav div button:hover {
    background-color: #4CAF50;
}

.navigation-icon {
    width: 25px;
    height: 25px;
}

.nav-separator {
    margin: 0 8px;
    color: #888;
}

.navigate-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navigate-username{
    min-width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(31, 116, 194, 0.1);
}
.username {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}