{% extends 'base.html' %}



{% block body %}
    <p>Dear <strong>{{ name }}</strong>,</p>
    <p>Your account was blocked on our platform by our staff.</p>
    <p>If you believe that incorrect decision have been made regarding your account or may have been made in error,
    please call our support team.</p>
    <p>Also, for more information, please, call us.</p>
    <p>Call us: <a href="tel:+00000000000">+00000000000</a></p>
    <p>Best regards, <br><strong>QHealth Team</strong></p>
{% endblock %}