{% extends 'base.html' %}


{% block body %}
    <p>Dear <strong>{{ name }}</strong>,</p>
    <p>We have decided to temporarily block your position as a <strong>{{ role }}</strong> with a specialty
        <strong>{{ specialty }}</strong> in general medicine to avoid bookings in our clinic
        <strong>QHealth</strong>.</p>
    <p>For more information, please, contact our support team!</p>
    <p>Call us: <a href="tel:+00000000000">+00000000000</a></p>
    <p>Best regards, <br><strong>QHealth Team</strong></p>
{% endblock %}