{% extends 'base.html' %}


{% block body %}
    <p>Dear <strong>{{ name }}</strong>,</p>
    <p>Your account on our platform <strong>QHealth</strong> was deleted.</p>
    <p>Please, if you wanna get some more information or maybe you think it was mistake, please call our support
    team for more information.</p>
    <p>If you deleted your account by your self, please leave your feedback it is very important to us.</p>
    <p>Call us: <a href="tel:+00000000000">+00000000000</a></p>
    <p>Best regards, <br><strong>QHealth Team</strong></p>
{% endblock %}