{% extends 'base.html' %}



{% block body %}
    <p>Dear <strong>{{ name }}</strong>,</p>
    <p>The staff of <strong>QHealth</strong> has decided to recognize you as an <strong>Administrator</strong>
        from <strong>QHealth platform</strong>.</p>
    <p>If you believe this was a mistake or a possible glitch or you believe that your data has been accessed
    by third parties, please contact our support team immediately!</p>
    <p>Please, contact our support team for more detailed information!</p>
    <p>Call us: <a href="tel:+00000000000">+00000000000</a></p>
    <p>Best regards, <br><strong>QHealth Team</strong></p>
{% endblock %}