{% extends 'base.html' %}


{% block body %}
    <p>Hello <strong>{{ name }}</strong>,</p>
    <p>You get message from docktor, please LOG IN in the <strong>QHealth</strong> platform for read more details
        in your journal messages.</p>
    <p>If you experience any problem with the <strong>QHealth</strong> platform or perhaps you don't see the
        message, don't hesitate to call us.</p>
    <p>Call us: <a href="tel:+00000000000">+00000000000</a></p>
    <p>Best regards, <br><strong>QHealth Team</strong></p>
{% endblock %}