.booking-diagnostics-component {
    width: 100%;
    background-color: lightyellow;
}
/*----------------------------------------    booking-diagnostics-component-filter   ---------------------------------*/
.booking-diagnostics-component-filter {
    margin-bottom: 15px;
}
/*-------------------------------------------   booking-diagnostics-component-maping   -------------------------------*/
.booking-diagnostics-component-maping {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: visible;
}

.booking-diagnostics-component-maping-information {
    color: red;
}
/*----------------------------------     booking-diagnostics-component-pagination    ---------------------------------*/
.booking-diagnostics-component-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
/*----------------------------------------    bookings-diagnostics-skeleton-container   ------------------------------*/
.bookings-diagnostics-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.booking-diagnostic-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.booking-diagnostic-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.booking-diagnostic-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.booking-diagnostic-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.booking-diagnostic-skeleton-line.short {
    width: 30%;
}

.booking-diagnostic-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}