.booking-diagnostics-form-filter-component {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 25px 0 25px 0;
    border-radius: 10px;
    background-color: gray;
}
.booking-diagnostics-form-filter-component input {
    width: 250px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
}
.booking-diagnostics-form-filter-component input:focus{
    border-color: #007bff;
}
.booking-diagnostics-form-filter-component input::placeholder {
    color: #999;
    font-style: italic;
    opacity: 1;
}
.booking-diagnostics-form-filter-component select {
    width: 250px;
    height: 40px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s ease;
    color: #999;
    font-style: italic;
    opacity: 1;
}
.booking-diagnostics-form-filter-component select:focus {
    border-color: #007bff;
}
.booking-diagnostics-form-filter-component select::placeholder {
    color: #999;
    font-style: italic;
    opacity: 1;
}
.booking-diagnostics-form-filter-component-button{
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.booking-diagnostics-form-filter-component-button:hover{
    color: green;
}