.users-component-container {
    width: 100%;
    background-color: lightyellow;
}

/*-----------------------------------   users-component-container-filter   -------------------------------------------*/
.users-component-container-filter {
    margin-bottom: 15px;
}

/*----------------------------------    users-component-container-maping   -------------------------------------------*/
.users-component-container-maping {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: visible;
}

.users-component-container-information {
    color: red;
}

/*---------------------------------------    users-component-container-pagination  -----------------------------------*/
.users-component-container-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/*----------------------------------------    users-skeleton-container    -------------------------------------------------------*/
.users-skeleton-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user-skeleton-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 6px;
    animation: pulse 1.2s infinite;
    width: 100%;
}


.user-skeleton-avatar {
    width: 50px;
    height: 50px;
    background: #ddd;
    border-radius: 50%;
}

.user-skeleton-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 200px;
}

.user-skeleton-line {
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.user-skeleton-line.short {
    width: 30%;
}

.user-skeleton-line.long {
    width: 70%;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

