@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.patient-recipe-details-container {
    width: 100%;
    background-color: lightyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px
}
/*-------------------------------------------    patient-recipe-details-header   -------------------------------------*/
.patient-recipe-details-header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 170px;
    background-color: lightyellow;
    border-bottom: 2px solid lightskyblue;
}
.logo-patient-recipe-detail-header {
    width: 200px;
    height: 120px;
    margin-right: 50px;
}
.patient-recipe-details-header h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}
.patient-pecipe-detail-header-button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.patient-pecipe-detail-header-button:hover {
    background-color: green;
}
/*----------------------------------     patient-recipe-details-profile   --------------------------------------------*/
.patient-recipe-details-profile {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0 15px 0;
    gap: 25px;
    padding-bottom: 15px;
}
.patient-recipe-details-delete-button {
    width: 170px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer
}